# Quarto build output
_site/
.quarto/

# Local system files
.DS_Store

# VS Code settings
.vscode/
*.code-workspace

# R / Jupyter temporary files
.Rhistory
.RData
.Rproj.user/
.ipynb_checkpoints/

# Python cache (if you ever use code chunks)
__pycache__/
*.pyc

/.quarto/
